.navbar {
    width: 100%;
    height: 5.5rem;
    background-color: #2C4928;
    display: flex;
    justify-content: space-between;
}

.navLeft {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.navLeft ul {
    margin-left: 2rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
}